@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(233, 47%, 7%);
}
.container{
    height: 445px;
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}
.left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 70px 20px 65px 70px;
    flex: 1;
    background-color: hsl(244, 38%, 16%);
}
.title h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    padding-bottom: 40px;
}
.title span{
    color: hsl(277, 64%, 61%);
}
.content p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 60px;
    padding-right: 120px;
    line-height: 25px;
}
.numbers{
    display: flex;
    gap: 70px;
}
.info-number{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.info-name{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.75);

}
.right-side{
    position: relative;
    display: flex;
    height: 100%;
    flex: 1;
    background-image: url("/images/image-header-desktop.jpg");
}
.right-side:after{
    content: '';
    position:absolute;
    
}
.img{
    height: 100%;
    width: 100%;
    background-color: hsla(277, 64%, 27%, 0.7);
}
.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: "Inter";
    font-size: 12px;
}
.attribution a{
    font-family: "Inter";
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.attribution a:hover{
    text-decoration: underline;
}

@media (max-width: 376px)
{
    body{
        height: 100%;
        padding: 50px 0;
    }  
  .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 330px;
    height: 800px;
    padding: 0;
    /* overflow: visible; */
   }
   .left-side{
    flex: 2;
    width: 100%;
    padding: 0;
    text-align: center;
   }
   .title h1{
    font-size: 25px;
    padding: 50px 40px 20px 40px;
   }
   .content p{
    font-size: 14px;
    padding: 0px 40px;
   }
   .numbers{
    padding: 50px 0px 40px 0px;
    flex-direction: column;
    gap: 30px;
   }
   .right-side{
    flex: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
   }
   .attribution{
    bottom: 20px;
   }
   .attribution a{
    font-size: 10px;
    margin-left: 3px;
    }
}