@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(233, 47%, 7%);
}
.container{
    height: 445px;
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
.left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 70px 20px 65px 70px;
    flex: 1;
    background-color: hsl(244, 38%, 16%);
}
.title h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    padding-bottom: 40px;
}
.title span{
    color: hsl(277, 64%, 61%);
}
.content p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 60px;
    line-height: 25px;
}
.numbers{
    display: flex;
    gap: 70px;
}
.info-number{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.info-name{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.75);

}
.right-side{
    position: relative;
    display: flex;
    height: 100%;
    flex: 1;
    background-image: url("/images/image-header-desktop.jpg");
}
.right-side:after{
    content: '';
    position:absolute;
    
}
.img{
    height: 100%;
    width: 100%;
    background-color: hsl(277, 64%, 61%, 0.3);
}
.attribution{
    position: absolute;
    bottom: 50px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: "Inter";
    font-size: 12px;
}
.attribution a{
    font-family: "Inter";
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.attribution a:hover{
    text-decoration: underline;
}

@media (max-width: 376px)
{
    /* body{
        position: relative;
        margin: auto;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: hsl(233, 47%, 7%);
    } */
    body{
        height: 100%;
        padding: 50px 0;
    }
    /* .container{
        height: 445px;
        width: 1110px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
    } */
    
  .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 330px;
    height: 100%;
    padding: 20px 20px 65px 70px;
    overflow: visible;

    background-color: red;
   }
   /* .left-side{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 70px 20px 65px 70px;
        flex: 1;
        background-color: hsl(244, 38%, 16%);
    } */
   .left-side{
    flex: 2;
   }
   .right-side{
    flex: 1;
   }
}